name: push-github-action
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11.0-beta.2"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v4

      - name: Display Poetry version
        run: poetry --version

      - name: Install dependencies with Poetry
        run: poetry install

      - name: Cache installed dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Lint
        run: poetry run make lint

      - name: Run tests
        # Run tox using the version of Python in `PATH`
        run: poetry run tox -e py
